# IntelliJ project files
.idea
*.iml
out
gen

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*/target/*
*/Users/*
.classpath
.project
.springBeans